{% extends 'base.html' %}

{% block title %}Cyber Sleuth{% endblock %}

{% block content %}

<div class="level-container">

    <h1>Cyber Sleuth</h1>
    <h3>Select a level to begin:</h3>
    <a href="{{ url_for('tutorial') }}" class="level-button">Tutorial</a>
    <a href="{{ url_for('basic') }}" class="level-button">Basic Mode</a>
    <a href="{{ url_for('advanced') }}" class="level-button">Advanced Mode</a>
    <a href="{{ url_for('wiki') }}" class="level-button">Wiki</a>

</div>

{% endblock %}

